<mat-card class="current-weather-card__container">
  <mat-card-title class="current-weather-card__title">{{ city | titlecase }}</mat-card-title>
  <mat-card-content>
    <div class="current-weather-card__weather-icon">{{ code | weatherIcon }}</div>
    <div class="current-weather-card__temp">{{ temperature }}°C</div>
    <div class="current-weather-card__min-max">Min: {{ min }}°C | Max: {{ max }}°C</div>
    <div class="current-weather-card__condition">{{ code | weathercode }}</div>
  </mat-card-content>
</mat-card>