@use 'mixin.scss' as mixin;

.weather-card {
    .mat-mdc-card {
        padding: 10px !important;
        text-align: center !important;
    }
    // @include weather-card__text();
    @include mixin.app_text($size: 15px, $mb: 5px, $wt: normal);

   &__icon{
    font-size: 24px;
   }
}