<div class="home">
  <div class="home__container">
    <app-search-bar (search)="onSearch($event)"></app-search-bar>
    @if(loading()){
    <div class="home__spinner">
      <mat-spinner></mat-spinner>
    </div>
    }
    @if(error() !=''){
    <div class="home__error-data">{{error() }}</div>
    }@else{




    @if (weatherData()) {
    <div>
      <div [appWeatherBackground]="currentCodeSig()">
        <app-current-weather-card [city]="city()" [temperature]="currentTempSig()" [min]="currentMinTempSig()"
          [max]="currentMaxTempSig()" [code]="currentCodeSig()" />

      </div>
      <div class="home__hourly-weather">
        <h2 class="home__hourly-weather-title">Today's Hourly Temperatures - {{ city() | titlecase }}</h2>

        <div class="home__hourly-weather-carousel">

          @for (t of currentTemps(); track t; let i = $index) {
          <div class="home__hourly-weather-carousel-block">
            @if (i === 0) {
            <strong>Now</strong>
            } @else {
            <strong>{{ t.time }}</strong>
            }
            <div>{{ t.icon }}</div>
            <div>{{ t.temp }}°C</div>
            <div>{{ t.code |weathercode }}</div>
          </div>
          }
        </div>
      </div>
      <div class="home__weekly-weather">

        <h2 class="home__weekly-weather-title">7-Day Forecast</h2>
        <div class="home__weekly-weather-forecast">

          @if (forecastList().length > 0) {
            @for (day of forecastList(); track day.date) {
            <app-weather-card [date]="day.date" [max]="day.max" [min]="day.min" [code]="day.code">
            </app-weather-card>
            }
          }
        </div>

      </div>
    </div>
    }
    }
  </div>
</div>